.detail {
  min-height: 100vh;
  width: 100%;
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;     /* horizontal center */

  color: white;
  text-align: center;

  background-image: url("../assets/result.jpg");
  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}